html {
  background-color: black;
}
body {
    margin: 0;
    left: 0;
    padding: 0;
}

h1 {
  margin-left: 10%;
  color: black;
}

p {
  font-size: 1em;
  text-align: left;
}

#links {
  background-color: white;
  font-size: small;
  opacity: 0.7;
  position: absolute;
  padding: 10px;
  border-radius: 4px;
  right: 20%;
  bottom: 10%;
  float: right;
}

#descrip {
font-size: 4.0vh;
  background-color: white;
  font-color: blue;
  opacity: 0.4;
  padding: 10px;
  border-radius: 4px;
  margin-left: 10%;
  width: 30%;
  float: left;
}
